.form {
    max-width: 480px;
    padding: 50px;
    background-color: #e7fffc;
    border-radius: 8px;
    display: grid;
    gap: 30px;
    margin: 50px auto;
}

b {
    font-size: 28px;
    font-weight: 700;
    color: #6c2b3a;
    text-align: center;
}

p {
    color: #838383;
    font-size: 14px;
    margin: 0;
    line-height: 1.8;
}

.formForm {
    display: grid;
    gap: 30px;
}

.formInput {
    display: grid;
    gap: 20px;
}

input {
    border: none;
    font-size: 14px;
    outline: none;
}

.input {
    background-color: #fff;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    padding: 15px;
}

.error p {
    color: red;
}

.eye {
    display: grid;
    justify-content: end;
}

.formInput a {
    color: #6c2b3a;
    text-align: center;
}

.formInput button {
    border: none;
    border-radius: 25px;
    background-color: #194641;
    padding: 12px 30px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text a {
    color: #6c2b3a;
    text-decoration: underline;
    font-size: 14px;
}
